In [39]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_csv("diabetes.csv")

In [41]:
df.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
154,8,188,78,0,0,47.9,0.137,43,1
141,5,106,82,30,0,39.5,0.286,38,0
173,1,79,60,42,48,43.5,0.678,23,0
348,3,99,62,19,74,21.8,0.279,26,0
86,13,106,72,54,0,36.6,0.178,45,0
566,1,99,72,30,18,38.6,0.412,21,0
315,2,112,68,22,94,34.1,0.315,26,0
149,2,90,70,17,0,27.3,0.085,22,0
180,6,87,80,0,0,23.2,0.084,32,0
227,3,162,52,38,0,37.2,0.652,24,1

In [42]:
df.shape

(768, 9)

In [43]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [44]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [45]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [46]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [47]:
y=df['Outcome']
x=df.drop(columns='Outcome',axis=1)

**Data Standaridation**

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
scaler=StandardScaler()

In [50]:
scaler.fit(x)

StandardScaler()

In [51]:
stnd_data=scaler.transform(x)

In [52]:
X=stnd_data
y=df['Outcome']

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,
                                               random_state=1)

In [55]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(691, 8) (77, 8) (691,) (77,)

In [56]:
from sklearn import svm

In [57]:
classifier=svm.SVC(kernel="linear")

In [58]:
classifier.fit(X_train,y_train)

SVC(kernel='linear')

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
predict=classifier.predict(X_test)
accuracy=accuracy_score(predict,y_test)

In [61]:
print("Accuracy of the Model:> ",accuracy)

Accuracy of the Model:>  0.7922077922077922

Make a predictive System

In [64]:
input_data=(8,183,64,0,0,23.3,0.672,32)

#change the input_data to a numpy array

input_data_as_numpy_array=np.array(input_data)

#reshape the numpy arrray as we are predicting for one instance

input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

#standarize intput data
std_data=scaler.transform(input_data_reshaped)

prediction=classifier.predict(std_data)

if(prediction==0):
  print("NO Diabetes")

else:
  print("It's like Having Diabetes")

It's like Having Diabetes

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"